


.Collapsible{
   
    border-bottom: solid 1px #eeeeee;
    padding-top: 0.5em;
  
}

.Collapsible:hover{
   
    background: #fafafa;
}

.Collapsible__contentInner{

    display: flex;
    flex-wrap: wrap;
    max-height: 228px;
    overflow: auto;

}
   

.Collapsible__contentOuter{
    margin-top: 0.5em;
}



.Collapsible__trigger{
    font-weight: 500;
    flex: 1;
    display: flex;
}